---
title: Blog
layout: layouts/page.liquid
---

{% for post in collections.post reversed %}
	<section class="blog">
		<article>
			<h2 id="{{ post.data.title  | kebabCase }}"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
			{% assign author_url = post.data.author_url %}
			{% assign author_avatar = post.data.author_avatar %}
			{% assign author_name = post.data.author_name %}
			{% assign date = post.date %}
			{% include blog-post-info.liquid %}
			<p>{{ post.templateContent | blogSummary }}</p>
			<p><a href="{{ post.url }}">Read more</a></p>
		</article>
	</section>
{% endfor %}
