---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
permalink: blog/tags/{{ tag }}/
renderData:
  title: Tagged “{{ tag }}”
layout: layouts/page.liquid
---

<section class="blog">
  <h1>Tagged “{{ tag }}”</h1>

  <ol>
    {% assign taglist = collections[tag] | reverse %}
    {% for post in taglist %}
      <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
  </ol>

  <p style="text-align: right;">See <a href="/blog/tags/">all tags</a>.</p>
</section>
