<!doctype html>
<html lang="en" data-theme="auto">
	<head>
		<meta charset="utf8" />
		<title>{{ title | titlify }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="mask-icon" href="/img/pinned-rome-logo.svg" color="#FFC905">
		<link rel="alternate icon" type="image/png" href="/img/favicon.png">
		<link rel="icon" type="image/svg+xml" href="{{ "static/img/favicon.svg" | includeraw | toBase64: "svg" | safe }}">

		<meta name="description" content="{{ description | escape }}">
		<meta name="theme-color" content="#FFC905">
		<meta property="og:title" content="{{ title | titlify }}">
		<meta property="og:description" content="{{ description | escape }}">
		<meta property="og:image" content="{{ env.WEBSITE_URL }}/img/{{ social-image }}">
		<meta property="twitter:image" content="{{ env.WEBSITE_URL }}/img/{{ social-image }}">
		<meta property="twitter:site" content="@rometools">
		<meta property="twitter:creator" content="@rometools">
		<meta property="twitter:image:alt" content="Logo for Rome Tools">
		<meta property="twitter:card" content="summary_large_image">

		{% capture styles %}
			{% include styles/index.css %}
		{% endcapture %}
		<style>{{ styles | cssmin | safe }}</style>
		<noscript>
			{% capture nojsstyles %}
				{% include styles/nojs.css %}
			{% endcapture %}
			<style>{{ nojsstyles | cssmin | safe }}</style>
		</noscript>

		<script>
			{% capture preJS %}
				(function () {
					const currentTheme = localStorage.getItem('data-theme');
					if (currentTheme != null) {
						document.documentElement.setAttribute("data-theme", currentTheme);
					}
				})();
			{% endcapture %}
			{{ preJS | jsmin | safe }}
		</script>
	</head>

	<body class="{{ body-class }}">
		<div class="header">
			<div class="container ">
				<a class="logo" href="/">
					{% include svg/rome-logo.svg %}

					<span class="logo-text sr-only">Rome</span>
				</a>

				<ul class="middle">
					<li><a href="/docs/">Docs</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="https://play.rome.tools/">Playground</a></li>
					<li><a href="/credits/">Credits</a></li>
				</ul>

				<ul class="right">
					<li><a href="https://github.com/rome/tools">{% include svg/footer/github.svg %}</a></li>
					<li><a href="https://twitter.com/rometools">{% include svg/footer/twitter.svg %}</a></li>
				</ul>
			</div>
		</div>

		<div class="container {% if no-sidebar %}no-sidebar{% endif %}">
			<div class="skip-to-content" id="top">
				<a href="#main-content">Skip to main content</a>
			</div>

			<div class="header-mobile">
				<a class="logo" href="/">
					{% include svg/rome-logo.svg %}

					<span class="logo-text sr-only">Rome</span>
				</a>
				<div class="stretch"></div>

				{% if no-sidebar %}
				{% else %}
					<a href="#" class="mobile-handle">
						{% include svg/mobile-nav-handle.svg %}
						{% include svg/close-icon.svg %}
					</a>
				{% endif %}
			</div>

			<div class="main">
				{{ content | safe }}
			</div>

			{% if no-sidebar %}
			{% else %}
				<div class="sidebar-container">
					<aside class="sidebar">
						<div class="sidebar-scroller">
							<nav aria-labelledby="site-navigation-documentation" class="toc-menu menu">
								<h2 id="site-navigation-documentation">Table of Contents</h2>

								{{ content | toc | safe }}
							</nav>
						</div>
					</aside>
				</div>
			{% endif %}
		</div>

		<div class="container">
			<footer aria-labelledby="footer">
				<h1 id="footer" class="sr-only">Footer</h1>

				<p>&copy; 2022 Rome Tools. All rights reserved.</p>

    		{% include color-scheme-switcher %}
			</footer>
		</div>

		{% if env.production %}
			<script src="https://browser.sentry-cdn.com/5.29.0/bundle.tracing.min.js" crossorigin="anonymous"></script>

			<script>
				if (typeof Sentry !== "undefined") {
					Sentry.init({
						dsn: "https://d2e6dd662d05460db434756b97bf054e@o487646.ingest.sentry.io/5546624",
						tracesSampleRate: 1.0,
					});
				}
			</script>
		{% endif %}

		{% capture script %}{% include ../scripts/index.liquid %}{% endcapture %}
		<script async defer>{{ script | jsmin | safe }}</script>
	</body>
</html>
