---
layout: layouts/page.liquid
social-image: social-logo.png
---

<main class="main blog post">
	{% if cover-image %}
		<figure class="blog-cover">
			<img alt="{{ cover-image-alt-text }}" src="/img/{{ cover-image }}">
			{%  if cover-image-caption %}<figcaption class="blog-cover-caption">{{ cover-image-caption }}</figcaption> {% endif %}
		</figure>
	{% endif %}

	<h1 id="{{ title | kebabCase }} ">{{ title }}</h1>

	{% if subtitle %}
		<div class="subtitle">{{ subtitle }}</div>
	{% endif %}

	{% include blog-post-info.liquid %}

	{{ content | safe }}

	<div class="tags">
	tags:
		{% for tag in tags %}
			{% if collections.tagList contains tag %}
				{% capture tagUrl %}/blog/tags/{{ tag }}/{% endcapture %}
				<a href="{{ tagUrl }}" class="tag">{{ tag }}</a>
			{% endif %}
		{% endfor %}
	</div>
</main>
