---
layout: layouts/page.liquid
---

<section class="blog">
	<div class="post">
		<h1 id="{{ title | kebabCase }} ">{{ title }}</a></h1>
		<div class="info">
			{%- if author_url -%}
				<div>by <a href="{{ author_url }}">{{ author_name }}</a></div>
			{%- else -%}
				<div>by {{ author_name }}</div>
			{%- endif -%}
			<time datetime="{{ date }}"> {{ date | dateFormat }} </time>
		</div>

		{{ content | safe }}

		<div class="tags">
		tags:
			{% for tag in tags %}
				{% if collections.tagList contains tag %}
					{% capture tagUrl %}/blog/tags/{{ tag }}/{% endcapture %}
					<a href="{{ tagUrl }}" class="tag">{{ tag }}</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>
