---
layout: layouts/base.liquid
social-image: social-logo.png
body-class: docs-body
---

{% capture toccontent %}{{ content | toc | safe }}{% endcapture %}
{% assign sidebar-enabled = toccontent != "" %}

<div class="docs-header">
  <a class="logo" href="/">
    {% include svg/rome-logo.svg %}

    <span class="logo-text sr-only">Rome</span>
  </a>

  <div id="docsearch"></div>

  <a class="foreground-svg link" target="_blank" href="https://discord.gg/rome">{% include svg/discord.svg %}<span class="sr-only">Discord</span></a>
  <a class="foreground-svg link" target="_blank" href="https://github.com/rome/tools">{% include svg/footer/github.svg %}<span class="sr-only">GitHub</span></a>
  <a class="foreground-svg link" target="_blank" href="https://twitter.com/rometools">{% include svg/footer/twitter.svg %}<span class="sr-only">Twitter</span></a>

	{% include mobile-handle.liquid %}
</div>

<div class="docs-main">
  <aside class="docs-sidebar sidebar">
    <h2>Guides</h2>

    <ul>
      <li><a {{ "/docs/guides/getting-started/" | linkattribs }}>Getting Started</a></li>
    </ul>

    <h2>Tools</h2>

    <ul>
      <li><a {{ "/docs/formatter/" | linkattribs }}>Formatter</a></li>
      <li><a {{ "/docs/linter/" | linkattribs }}>Linter</a></li>
    </ul>

    <h2>Reference</h2>

    <ul>
      <li><a {{ "/docs/cli/" | linkattribs }}>CLI</a></li>
      <li><a {{ "/docs/configuration/" | linkattribs }}>Configuration</a></li>
      <li><a {{ "/docs/lint/rules/" | linkattribs }}>Lint Rules</a></li>
    </ul>

    <h2>Internals</h2>

    <ul>
      <li><a {{ "/docs/internals/architecture/" | linkattribs }}>Architecture</a></li>
      <li><a {{ "/docs/internals/philosophy/" | linkattribs }}>Philosophy</a></li>
      <li><a {{ "/docs/credits/" | linkattribs }}>Credits</a></li>
    </ul>
  </aside>

  <main class="main content {{ main-class }}">
    {{ content | safe }}
  </main>

  {% if sidebar-enabled %}
    <nav class="toc-sidebar sidebar">
      <h2>On this page</h2>

      {{ toccontent }}
    </nav>
  {% endif %}
</div>

<footer aria-labelledby="footer">
  <div class="container footer-inner">
    {% include inner-footer.liquid %}
  </div>
</footer>
