---
layout: layouts/base.liquid
---

{% assign post = collections.post | reverse | first %}

<article class="latest-post">
	<h2>Latest blog post</h2>
	<div class="info">
		<h3>
		 <a href="{{ post.url }}">{{ post.data.title }}</a>
		</h3>
		<div class="author">
			by <a href="{{ post.data.author_url }}">{{ post.data.author_name }}</a>
			at {{ post.date | dateFormat }}
		</div>
	</div>
</article>

<div class="hero">

	<h1>
		<div>
			<div class="left"></div>
			Rome
			<div class="right"></div>
		</div>
	</h1>
	<h2>Unifying the frontend development toolchain</h2>
</div>

<main id="main-content" class="content split homepage">
	{{ content | safe }}
</main>
