<div class="blog-info">
	<div>

		<span class="avatar-stack">
			<span class="avatar"><img src="{{ author_avatar }}"></span>
			{%- if coauthor_avatar -%}
				<span class="avatar"><img src="{{ coauthor_avatar }}"></span>
			{%- endif -%}
		</span>

		{%- if author_url -%}
			<a href="{{ author_url }}">
		{%- endif -%}
		<span>{{ author_name }}</span>
		{%- if author_url -%}
			</a>
		{%- endif -%}

		{%- if coauthor_name -%}
			<span> &amp;  {{ coauthor_name }}</span>
		{%- endif -%}
	</div>

	<time datetime="{{ date }}"> {{ date | dateFormat }} </time>
</div>
